<ion-header>
    <ion-toolbar>
      <ion-title>Trivia</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="home">
    <ion-grid *ngIf="currentQuestion">
      <ion-row>
        <ion-col width-50 offset-25>
          <h2 class="question">{{currentQuestion.question}}</h2>
          
          <ion-list>
            <ion-item class="answers" *ngFor="let answer of currentQuestion.answers">
                {{answer}}
            </ion-item>
          </ion-list>
          <button ion-button >Submit</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  