<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let quiz of quizzes">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-card-title>{{quiz.title}}</ion-card-title>
          </ion-row>
          <ion-row>
            <ion-col size="6">
                <ion-card-subtitle>Total Marks: {{quiz.marks}}</ion-card-subtitle>
            </ion-col>
            <ion-col size="6">
                <ion-card-subtitle>Questions: {{quiz.questionCount}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-card-content>{{quiz.description}}</ion-card-content>
          </ion-row>
          <ion-button (click)="openQuizDetails(quiz)" expand="block">Attempt Quiz</ion-button>
        </ion-grid>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
